AWS_REGION=ap-south-1
S3_BUCKET_NAME=your-s3-bucket-name

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

CORS_ORIGINS=http://localhost:5173

OPEN_METEO_BASE_URL=https://archive-api.open-meteo.com/v1/archive

REQUEST_TIMEOUT_SECONDS=20